.blog-card {
  overflow: hidden;
  &::before {
    content: "";
    width: 0;
    height: 0;
    border-radius: 10000px;
    transition: all .35s ease-in-out;
    background: $primary;
    position: absolute;
    left: 0;
    top: 0;
  }
  &:hover {
    &::before {
      width: 120rem;
      height: 120rem;
      left: -50rem;
      top: -50rem;
    }
  }
  * {
    position: relative;
  }
  .card-footer {
    background: transparent;
  }
}
