$font-family-sans-serif:      "Inter",system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// Colors
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #f76707 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

$secondary: $orange;
$black: #000;
$border-radius: .35rem;
$dark: $black;

$primary: #55e6a5 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         #f3f5f7 !default;
$dark:          $gray-900 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "primary-light": lighten($primary, 30%),
  "primary-dark": darken($primary, 30%),
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "orange":     $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "default":    #dadce0,
  "light-2": darken($light, 5%),
  "dark-primary": darken($primary, 20%),
  "facebook": rgb(59, 89, 152),
  "twitter": rgb(29, 161, 242),
  "whatsapp": rgb(77, 194, 71)
) !default;

$headings-font-weight: 700!default;
$lead-font-weight: 400 !default;
$h1-font-size: 3rem !default;

$body-bg: rgb(26, 32, 44) !default;
$body-color: rgb(226, 232, 240) !default;

$border-radius: .45rem !default;

$btn-font-weight: 500 !default;
$link-decoration: none !default;
$link-color: darken($primary, 10%);

$navbar-light-color: #000 !default;
$navbar-nav-link-padding-x: 1.5rem !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.5,
  7: $spacer * 4,
  8: $spacer * 4.5,
) !default;

.full-radius {
  border-radius: 100000px !important;
}

.link-top {
  position: relative;
  a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
}
.reader-section {
  img {
    max-width: 100%;
    height: auto;
    border-radius: $border-radius;
  }
}
.main-radius {
  border-radius: $border-radius;
}

.fw-medium {
  font-weight: 500!important;
}
.navbar {
  position: fixed!important;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  backdrop-filter: blur(12px) saturate(50%);
  background: rgba($body-bg, .75);
  border-bottom: 1px solid rgb(45, 55, 72);
  ~ .page-wrapper {
    margin-top: 4rem;
  }
}
$navbar-light-toggler-border-color: transparent !default;
$navbar-toggler-padding-x: 0.25rem !default;

@media screen and (max-width: 1024px){
  .navbar {
    transition: all .25s ease-in-out;
  }
  .navbar-collapse {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70vh;
    &.hide {
      display: none;
    }
  }
  .navbar.show {
    height: 100vh;
    align-items: start;
  }
}
.nuxt-link-exact-active:not(.navbar-brand) {
  color: $primary!important;
}
pre[class*="language-"] {
  border-radius: $border-radius!important;
}
